.button {
	font: inherit;
	border: 1px solid #03537d;
	background: #fff;
	color: #03537d;
	padding: 0.5rem 1.5rem;
	cursor: pointer;
	border-radius: 30px;
	margin-left: 10px;
	margin-top: 5px;
}

.button:hover,
.button:active {
	background: #ccc;
	border-color: #03537d;
}

.button:focus {
	outline: none;
}

.chatTop {
	background: #03537d;
	padding: 30px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 30px;
}

.footer {
	padding: 20px;
	background: #03537d;
	bottom: 0;
	position: fixed;
	width: inherit;
	box-sizing: border-box;
}

.chatArea {
	height: 78vh;
	overflow: auto;
}

.input {
	margin: auto;
	display: block;
	text-align: center;
}

.input input {
	width: 80%;
	border-radius: 25px;
	border: 1px solid #ccc;
	font: inherit;
	padding-left: 0.5rem;
	line-height: 2;
	margin: 5px 0;
}

.input input:focus-visible {
	outline: none;
}

.container {
	width: 100%;
}
