.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.75);
}

.modal {
	position: fixed;
	top: 30vh;
	left: 5%;
	width: 80%;
	z-index: 100;
	overflow: hidden;
}

.header {
	background: #4f005f;
	padding: 1rem;
}

.header h2 {
	margin: 0;
	color: white;
}

.content {
	padding: 1rem;
}

.actions {
	padding: 1rem;
	display: flex;
	justify-content: center;
}

@media (min-width: 768px) {
	.modal {
		left: calc(50% - 15rem);
		width: 25rem;
	}
}

.input {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
	justify-content: center;
}

.input label {
	font-weight: bold;
	margin-right: 1rem;
}

.input input {
	border-radius: 5px;
	border: 1px solid #ccc;
	font: inherit;
	padding-left: 0.5rem;
	line-height: 2;
}

.form {
	text-align: right;
}
